<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting" search:require="Azure">
    <pipelines>
      <initialize>
        <processor method="InitializeFromPipeline" type="Sitecore.Support.ContentSearch.Azure.Events.RebuildEvents.SwitchOnRebuildEventHandler, Sitecore.Support.496570" patch:instead="*[@type='Sitecore.ContentSearch.Azure.Events.RebuildEvents.SwitchOnRebuildEventHandler, Sitecore.ContentSearch.Azure']"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>